@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    background-color: white;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* --color-primary: #27569E;
    --color-secondary: #4A90E2; */
    
    --color-primary: #141E30;
    --color-secondary: #243B55;
    --color-darktext: #003C60;
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  } 

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-darktext {
    background-color: var(--color-darktext);
  }

  .text-darktext {
    color: var(--color-darktext);
  }

  